<a href="https://colab.research.google.com/github/Siddhartha-ai/Data-mining/blob/main/assignment1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('/content/employee_data.csv')
print("Original Dataset:")
print(df)

Original Dataset:
    Employee_ID   Age    Salary  Job_Satisfaction  Work_Hours_Per_Week
0          1001  50.0  108953.0               9.0                   36
1          1002  36.0   82995.0               8.0                   59
2          1003  29.0   70757.0               2.0                   30
3          1004  42.0   39692.0               1.0                   30
4          1005  40.0   75758.0               7.0                   54
5          1006  44.0  102409.0               7.0                   56
6          1007  32.0       NaN               NaN                   59
7          1008  32.0   95697.0               5.0                   54
8          1009  45.0   67065.0               3.0                   49
9          1010  57.0       NaN               8.0                   42
10         1011  45.0   41534.0               6.0                   38
11         1012   NaN   70397.0               NaN                   32
12         1013  43.0   31016.0               NaN                   36
13         1014  23.0  119789.0               1.0                   35
14         1015  45.0   85591.0               3.0                   37
15         1016  51.0  119812.0               5.0                   56
16         1017  59.0   53247.0               3.0                   38
17         1018  23.0   54300.0               1.0                   59
18         1019  42.0  104065.0               5.0                   34
19         1020  54.0  112798.0              10.0                   30
20         1021  33.0   39268.0               7.0                   48
21         1022  43.0  116807.0               7.0                   39
22         1023  46.0   42185.0               NaN                   41
23         1024  48.0   93704.0               9.0                   53
24         1025  49.0       NaN              10.0                   44
25         1026  37.0   69099.0               NaN                   56
26         1027  36.0       NaN               3.0                   51
27         1028  24.0   68044.0               7.0                   53
28         1029  58.0   81214.0               1.0                   38
29         1030  28.0   91228.0               4.0                   49
30         1031   NaN   78984.0               4.0                   46
31         1032  30.0   70774.0               NaN                   59
32         1033  39.0   32568.0               7.0                   46
33         1034  25.0   92592.0               7.0                   55
34         1035   NaN   97563.0               NaN                   49
35         1036  35.0   32695.0               4.0                   41
36         1037  30.0   78190.0               7.0                   59
37         1038  47.0   35258.0               NaN                   36
38         1039  23.0       NaN               3.0                   31
39         1040   NaN   69504.0               6.0                   32
40         1041  49.0   63159.0               2.0                   46
41         1042  28.0   43986.0              10.0                   34
42         1043  29.0   91858.0               9.0                   46
43         1044  56.0   42666.0               5.0                   53
44         1045  35.0   68660.0               6.0                   46
45         1046  38.0   33561.0               4.0                   56
46         1047  57.0   56854.0               NaN                   46
47         1048  25.0   94505.0               NaN                   31
48         1049  23.0   82251.0               7.0                   31
49         1050   NaN   52662.0               9.0                   57

In [3]:
df.isna()

    Employee_ID    Age  Salary  Job_Satisfaction  Work_Hours_Per_Week
0         False  False   False             False                False
1         False  False   False             False                False
2         False  False   False             False                False
3         False  False   False             False                False
4         False  False   False             False                False
5         False  False   False             False                False
6         False  False    True              True                False
7         False  False   False             False                False
8         False  False   False             False                False
9         False  False    True             False                False
10        False  False   False             False                False
11        False   True   False              True                False
12        False  False   False              True                False
13        False  False   False             False                False
14        False  False   False             False                False
15        False  False   False             False                False
16        False  False   False             False                False
17        False  False   False             False                False
18        False  False   False             False                False
19        False  False   False             False                False
20        False  False   False             False                False
21        False  False   False             False                False
22        False  False   False              True                False
23        False  False   False             False                False
24        False  False    True             False                False
25        False  False   False              True                False
26        False  False    True             False                False
27        False  False   False             False                False
28        False  False   False             False                False
29        False  False   False             False                False
30        False   True   False             False                False
31        False  False   False              True                False
32        False  False   False             False                False
33        False  False   False             False                False
34        False   True   False              True                False
35        False  False   False             False                False
36        False  False   False             False                False
37        False  False   False              True                False
38        False  False    True             False                False
39        False   True   False             False                False
40        False  False   False             False                False
41        False  False   False             False                False
42        False  False   False             False                False
43        False  False   False             False                False
44        False  False   False             False                False
45        False  False   False             False                False
46        False  False   False              True                False
47        False  False   False              True                False
48        False  False   False             False                False
49        False   True   False             False                False

In [4]:
df.isnull().sum()

Employee_ID             0
Age                     5
Salary                  5
Job_Satisfaction       10
Work_Hours_Per_Week     0
dtype: int64

In [6]:
df['Salary'].mean()

72349.2

In [7]:
df['Job_Satisfaction'].mean()

5.55

In [8]:
df['Work_Hours_Per_Week'].mean()

44.72

In [9]:
df['Age'].mode()

0    23.0
Name: Age, dtype: float64

In [10]:
df['Employee_ID'].median()

1025.5

In [12]:
df['Salary'].fillna(df['Salary'].mean(), inplace=True)

<ipython-input-12-8332c1905e34>:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Salary'].fillna(df['Salary'].mean(), inplace=True)

In [13]:
df['Salary'] = df['Salary'].fillna(df['Salary'].mean())

In [14]:
df[''] =df['Job_Satisfaction'].fillna(df['Job_Satisfaction'].mean())

In [15]:
df['Age'] = df['Age'].fillna(df['Age'].mean())

In [16]:
df

,Employee_ID,Age,Salary,Job_Satisfaction,Work_Hours_Per_Week,
0,1001,50.000000,108953.0,9.0,36,9.00
1,1002,36.000000,82995.0,8.0,59,8.00
2,1003,29.000000,70757.0,2.0,30,2.00
3,1004,42.000000,39692.0,1.0,30,1.00
4,1005,40.000000,75758.0,7.0,54,7.00
5,1006,44.000000,102409.0,7.0,56,7.00
6,1007,32.000000,72349.2,NaN,59,5.55
7,1008,32.000000,95697.0,5.0,54,5.00
8,1009,45.000000,67065.0,3.0,49,3.00
9,1010,57.000000,72349.2,8.0,42,8.00
10,1011,45.000000,41534.0,6.0,38,6.00
11,1012,39.177778,70397.0,NaN,32,5.55
12,1013,43.000000,31016.0,NaN,36,5.55
13,1014,23.000000,119789.0,1.0,35,1.00
14,1015,45.000000,85591.0,3.0,37,3.00
15,1016,51.000000,119812.0,5.0,56,5.00
16,1017,59.000000,53247.0,3.0,38,3.00
17,1018,23.000000,54300.0,1.0,59,1.00
18,1019,42.000000,104065.0,5.0,34,5.00
19,1020,54.000000,112798.0,10.0,30,10.00
20,1021,33.000000,39268.0,7.0,48,7.00
21,1022,43.000000,116807.0,7.0,39,7.00
22,1023,46.000000,42185.0,NaN,41,5.55
23,1024,48.000000,93704.0,9.0,53,9.00
24,1025,49.000000,72349.2,10.0,44,10.00
25,1026,37.000000,69099.0,NaN,56,5.55
26,1027,36.000000,72349.2,3.0,51,3.00
27,1028,24.000000,68044.0,7.0,53,7.00
28,1029,58.000000,81214.0,1.0,38,1.00
29,1030,28.000000,91228.0,4.0,49,4.00
30,1031,39.177778,78984.0,4.0,46,4.00
31,1032,30.000000,70774.0,NaN,59,5.55
32,1033,39.000000,32568.0,7.0,46,7.00
33,1034,25.000000,92592.0,7.0,55,7.00
34,1035,39.177778,97563.0,NaN,49,5.55
35,1036,35.000000,32695.0,4.0,41,4.00
36,1037,30.000000,78190.0,7.0,59,7.00
37,1038,47.000000,35258.0,NaN,36,5.55
38,1039,23.000000,72349.2,3.0,31,3.00
39,1040,39.177778,69504.0,6.0,32,6.00
40,1041,49.000000,63159.0,2.0,46,2.00
41,1042,28.000000,43986.0,10.0,34,10.00
42,1043,29.000000,91858.0,9.0,46,9.00
43,1044,56.000000,42666.0,5.0,53,5.00
44,1045,35.000000,68660.0,6.0,46,6.00
45,1046,38.000000,33561.0,4.0,56,4.00
46,1047,57.000000,56854.0,NaN,46,5.55
47,1048,25.000000,94505.0,NaN,31,5.55
48,1049,23.000000,82251.0,7.0,31,7.00
49,1050,39.177778,52662.0,9.0,57,9.00

In [18]:
df['Work_Hours_Per_Week'].fillna(df['Work_Hours_Per_Week'].mean(),inplace=True)

<ipython-input-18-635897f150a3>:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Work_Hours_Per_Week'].fillna(df['Work_Hours_Per_Week'].mean(),inplace=True)

In [19]:
print("Dataset after handling missing values:")
print(df)

Dataset after handling missing values:
    Employee_ID        Age    Salary  Job_Satisfaction  Work_Hours_Per_Week  \
0          1001  50.000000  108953.0               9.0                   36
1          1002  36.000000   82995.0               8.0                   59
2          1003  29.000000   70757.0               2.0                   30
3          1004  42.000000   39692.0               1.0                   30
4          1005  40.000000   75758.0               7.0                   54
5          1006  44.000000  102409.0               7.0                   56
6          1007  32.000000   72349.2               NaN                   59
7          1008  32.000000   95697.0               5.0                   54
8          1009  45.000000   67065.0               3.0                   49
9          1010  57.000000   72349.2               8.0                   42
10         1011  45.000000   41534.0               6.0                   38
11         1012  39.177778   70397.0               NaN                   32
12         1013  43.000000   31016.0               NaN                   36
13         1014  23.000000  119789.0               1.0                   35
14         1015  45.000000   85591.0               3.0                   37
15         1016  51.000000  119812.0               5.0                   56
16         1017  59.000000   53247.0               3.0                   38
17         1018  23.000000   54300.0               1.0                   59
18         1019  42.000000  104065.0               5.0                   34
19         1020  54.000000  112798.0              10.0                   30
20         1021  33.000000   39268.0               7.0                   48
21         1022  43.000000  116807.0               7.0                   39
22         1023  46.000000   42185.0               NaN                   41
23         1024  48.000000   93704.0               9.0                   53
24         1025  49.000000   72349.2              10.0                   44
25         1026  37.000000   69099.0               NaN                   56
26         1027  36.000000   72349.2               3.0                   51
27         1028  24.000000   68044.0               7.0                   53
28         1029  58.000000   81214.0               1.0                   38
29         1030  28.000000   91228.0               4.0                   49
30         1031  39.177778   78984.0               4.0                   46
31         1032  30.000000   70774.0               NaN                   59
32         1033  39.000000   32568.0               7.0                   46
33         1034  25.000000   92592.0               7.0                   55
34         1035  39.177778   97563.0               NaN                   49
35         1036  35.000000   32695.0               4.0                   41
36         1037  30.000000   78190.0               7.0                   59
37         1038  47.000000   35258.0               NaN                   36
38         1039  23.000000   72349.2               3.0                   31
39         1040  39.177778   69504.0               6.0                   32
40         1041  49.000000   63159.0               2.0                   46
41         1042  28.000000   43986.0              10.0                   34
42         1043  29.000000   91858.0               9.0                   46
43         1044  56.000000   42666.0               5.0                   53
44         1045  35.000000   68660.0               6.0                   46
45         1046  38.000000   33561.0               4.0                   56
46         1047  57.000000   56854.0               NaN                   46
47         1048  25.000000   94505.0               NaN                   31
48         1049  23.000000   82251.0               7.0                   31
49         1050  39.177778   52662.0               9.0                   57


0    9.00
1    8.00
2    2.00
3    1.00
4    7.00
5    7.00
6    5.55
7    5.00
8    3.00
9    8.00
10   6.00
11   5.55
12   5.55
13   1.00
14   3.00
15   5.00
16   3.00
17   1.00
18   5.00
19  10.00
20   7.00
21   7.00
22   5.55
23   9.00
24  10.00
25   5.55
26   3.00
27   7.00
28   1.00
29   4.00
30   4.00
31   5.55
32   7.00
33   7.00
34   5.55
35   4.00
36   7.00
37   5.55
38   3.00
39   6.00
40   2.00
41  10.00
42   9.00
43   5.00
44   6.00
45   4.00
46   5.55
47   5.55
48   7.00
49   9.00

In [20]:
from sklearn.preprocessing import MinMaxScaler

In [21]:
scaler = MinMaxScaler()

In [24]:
df[['Age', 'Salary']] = scaler.fit_transform(df[['Age', 'Salary']])

In [25]:
df['Job_Satisfaction'] = (df['Job_Satisfaction'] - df['Job_Satisfaction'].min()) / (df['Job_Satisfaction'].max() - df['Job_Satisfaction'].min())

In [26]:
from sklearn.preprocessing import StandardScaler

s_scaler = StandardScaler()

In [27]:
df[['Work_Hours_Per_Week']] = s_scaler.fit_transform(df[[ 'Work_Hours_Per_Week']])

In [28]:
df['Work_Hours_Per_Week']

0    -0.905969
1     1.483629
2    -1.529343
3    -1.529343
4     0.964151
5     1.171942
6     1.483629
7     0.964151
8     0.444673
9    -0.282596
10   -0.698178
11   -1.321551
12   -0.905969
13   -1.009865
14   -0.802074
15    1.171942
16   -0.698178
17    1.483629
18   -1.113760
19   -1.529343
20    0.340777
21   -0.594283
22   -0.386491
23    0.860255
24   -0.074805
25    1.171942
26    0.652464
27    0.860255
28   -0.698178
29    0.444673
30    0.132986
31    1.483629
32    0.132986
33    1.068046
34    0.444673
35   -0.386491
36    1.483629
37   -0.905969
38   -1.425447
39   -1.321551
40    0.132986
41   -1.113760
42    0.132986
43    0.860255
44    0.132986
45    1.171942
46    0.132986
47   -1.425447
48   -1.425447
49    1.275837
Name: Work_Hours_Per_Week, dtype: float64

In [29]:
df['Age'] = (df['Age'] - df['Age'].mean()) / df['Age'].std()

In [30]:
df

,Employee_ID,Age,Salary,Job_Satisfaction,Work_Hours_Per_Week,
0,0.000000,1.050684e+00,0.877708,0.888889,-0.905969,9.00
1,0.020408,-3.085171e-01,0.585375,0.777778,1.483629,8.00
2,0.040816,-9.881178e-01,0.447554,0.111111,-1.529343,2.00
3,0.061224,2.739977e-01,0.097707,0.000000,-1.529343,1.00
4,0.081633,7.982611e-02,0.503874,0.666667,0.964151,7.00
5,0.102041,4.681694e-01,0.804011,0.666667,1.171942,7.00
6,0.122449,-6.968604e-01,0.465485,NaN,1.483629,5.55
7,0.142857,-6.968604e-01,0.728422,0.444444,0.964151,5.00
8,0.163265,5.652552e-01,0.405975,0.222222,0.444673,3.00
9,0.183673,1.730285e+00,0.465485,0.777778,-0.282596,8.00
10,0.204082,5.652552e-01,0.118451,0.555556,-0.698178,6.00
11,0.224490,-3.880329e-16,0.443500,NaN,-1.321551,5.55
12,0.244898,3.710835e-01,0.000000,NaN,-0.905969,5.55
13,0.265306,-1.570633e+00,0.999741,0.000000,-1.009865,1.00
14,0.285714,5.652552e-01,0.614611,0.222222,-0.802074,3.00
15,0.306122,1.147770e+00,1.000000,0.444444,1.171942,5.00
16,0.326531,1.924457e+00,0.250360,0.222222,-0.698178,3.00
17,0.346939,-1.570633e+00,0.262219,0.000000,1.483629,1.00
18,0.367347,2.739977e-01,0.822661,0.444444,-1.113760,5.00
19,0.387755,1.439027e+00,0.921010,1.000000,-1.529343,10.00
20,0.408163,-5.997746e-01,0.092932,0.666667,0.340777,7.00
21,0.428571,3.710835e-01,0.966158,0.666667,-0.594283,7.00
22,0.448980,6.623410e-01,0.125783,NaN,-0.386491,5.55
23,0.469388,8.565126e-01,0.705978,0.888889,0.860255,9.00
24,0.489796,9.535984e-01,0.465485,1.000000,-0.074805,10.00
25,0.510204,-2.114313e-01,0.428882,NaN,1.171942,5.55
26,0.530612,-3.085171e-01,0.465485,0.222222,0.652464,3.00
27,0.551020,-1.473547e+00,0.417001,0.666667,0.860255,7.00
28,0.571429,1.827371e+00,0.565318,0.000000,-0.698178,1.00
29,0.591837,-1.085204e+00,0.678094,0.333333,0.444673,4.00
30,0.612245,-3.880329e-16,0.540205,0.333333,0.132986,4.00
31,0.632653,-8.910320e-01,0.447745,NaN,1.483629,5.55
32,0.653061,-1.725970e-02,0.017478,0.666667,0.132986,7.00
33,0.673469,-1.376461e+00,0.693455,0.666667,1.068046,7.00
34,0.693878,-3.880329e-16,0.749437,NaN,0.444673,5.55
35,0.714286,-4.056029e-01,0.018909,0.333333,-0.386491,4.00
36,0.734694,-8.910320e-01,0.531263,0.666667,1.483629,7.00
37,0.755102,7.594268e-01,0.047772,NaN,-0.905969,5.55
38,0.775510,-1.570633e+00,0.465485,0.222222,-1.425447,3.00
39,0.795918,-3.880329e-16,0.433443,0.555556,-1.321551,6.00
40,0.816327,9.535984e-01,0.361987,0.111111,0.132986,2.00
41,0.836735,-1.085204e+00,0.146065,1.000000,-1.113760,10.00
42,0.857143,-9.881178e-01,0.685189,0.888889,0.132986,9.00
43,0.877551,1.633199e+00,0.131200,0.444444,0.860255,5.00
44,0.897959,-4.056029e-01,0.423938,0.555556,0.132986,6.00
45,0.918367,-1.143455e-01,0.028661,0.333333,1.171942,4.00
46,0.938776,1.730285e+00,0.290982,NaN,0.132986,5.55
47,0.959184,-1.376461e+00,0.714998,NaN,-1.425447,5.55
48,0.979592,-1.570633e+00,0.576997,0.666667,-1.425447,7.00
49,1.000000,-3.880329e-16,0.243772,0.888889,1.275837,9.00